In [49]:
import numpy as np
import pandas as pd
import glob
import re

In [46]:
l = ['c0_t1','c0_t2', 'c0_t3', 'c0_t4', 'c1_t1', 'c1_t2', 'c1_t3', 'c3_t1', 'c3_t2', 'c3_t3', 'c23_t10']

In [74]:
ID = []
time = []
for i in l:
    ix, temp = map(int, re.findall('\d+', i))
    ID.append(ix)
    time.append(temp)

In [75]:
tab = pd.DataFrame({'id':ID, 'time':time})
tab

    id  time
0    0     1
1    0     2
2    0     3
3    0     4
4    1     1
5    1     2
6    1     3
7    3     1
8    3     2
9    3     3
10  23    10